/App.class
/LoadFromFile.class
/HowManyWordsInFile.class
/HowManyUniqueWordsInFile.class
/HowManySentencesInFile.class
/HowManyLettersInFile.class
/HowManyCharactersInFile.class
/OccurrenceOfLettersInFile.class
